
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	 <script src="/js/bootstrap.min.js"></script>
	 <script src="/js/jquery.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script	src="/js/angular.min.js"></script>
	
    <!-- Custom CSS -->
    <link href="/stylesheets/business-casual.css" rel="stylesheet">
	<script src="/angularjs/prodRedirect.js"></script>
</head>

<header>
    <!-- Navigation -->
    <%var user1 =  username %>
     <%username = user1 %>
    <% include header %>
</header>


<body ng-controller="prodRedirect" ng-app="prodRedirect" ng-init="is_auction = 1; is_fixed =0;" style="background-color: white; background-image: none;">
    <div class="brand">Ebay</div>
    <div class="container" style="padding: 20px">
    
	    <div class="panel" style="border:1px solid #ddd" >
		<div class="panel-body">
		<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-9">
			<h2 style="font-size: large; font-weight: normal; font-family: Helvetica neue,Helvetica,Arial,Sans-serif; text-transform: none " > Describe your item </h2><br>
			<br>
			<div class="row">
				<div class="col-sm-2"> <label placeholder="condition"  ng-model="condition" style="font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px">Brand</label></div>
				<div class="col-sm-2"></div>
				<div class="col-sm-4">	
					<div class = "dropdown" style="width: 100px">
									<select id="skill_category" style="width: 200px" class="btn btn-primary dropdown-toggle" ng-model="selectedBrand" required>
										  <% data.forEach(function(item, index){ %>
											   <option value="<%=item.brand_id%>"><%=item.label%></option>
										  <% });%>
 									</select> 
					</div>
				</div>
			</div><br><br>
			<div class="row">
				<div class="col-sm-2"> <label style="font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px" >Title</label></div>
				<div class="col-sm-2"></div>
				<div class="col-sm-4">	
					<div class="form-group">
						<input type="text"  name="label" id="label" class="form-control" placeholder="label"  ng-model="label"  required>
					</div>
				</div>
			</div>	<br>	
			<div class="row">
				<div class="col-sm-2"> <label placeholder="condition"  ng-model="condition" style="font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px">Condition</label></div>
				<div class="col-sm-2"></div>
				<div class="col-sm-4">	
					<div class = "dropdown" >
										<select id="conditions" style="width: 200px" class="btn btn-primary dropdown-toggle" ng-model="selectedCondition" >
											  <% conditions.forEach(function(item, index){ %>
												   <option value="<%=item.conditionId%>"><%=item.desc%></option>
											  <% });%>
	 									</select> 
	 									</div>
				</div>
			</div><br><br>
			<div class="row">
				<div class="col-sm-2"> <label style="font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px">Details</label></div>
				<div class="col-sm-2"></div>
				<div class="col-sm-8">	
					<div class="form-group">
						<textarea maxlength="100"  name="desc" id="desc" class="form-control" placeholder="desc"  ng-model="desc"    required></textarea>
					</div>
				</div>
			</div>		<br>
		</div></div></div></div>
		
		<div id = "panel2" class="panel" style="border:1px solid #ddd" >
		<div class="panel-body">
		<div class="row">
		<div class="col-sm-12">
			<div class = "row">
			<div class="col-sm-1"></div>
			<div class="col-sm-9">
				<div class="panel-group" id="accordion">
					<div class = "row">
						<div class="col-sm-2"> <label  style="font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px">Listing Format</label></div>
						<div class="col-sm-2"></div>
						<div class="col-sm-4">										
						  <button ng-click=" is_auction ='1'; is_fixed = '0' " type="button" class="btn btn-info"  data-toggle="collapse" data-parent="#accordion"  href="#demo">Auction</button>
						  <button ng-click=" is_auction ='0'; is_fixed = '1' " type="button" class="btn btn-info"  data-toggle="collapse" data-parent="#accordion" href="#demo2">Fixed Price</button>
						 <br><br><br>
						</div>
						<div style="display: none;">	<input type="text"  id = "is_auction" name="is_auction"  class="form-control" placeholder="is_auction"  ng-model="is_auction"     ></div>
						<div style="display: none;">	<input type="text"  id = "is_fixed" name="is_fixed"  class="form-control" placeholder="is_fixed"  ng-model="is_fixed"     ></div>
					</div>
				<div class="panel sale_panel">
					<div id="demo" class="panel-collapse collapse in">
						<div class = "row">
							<div class="col-sm-2"> <label style="font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px">Starting Price</label></div>
							<div class="col-sm-2"></div>
							<div class="col-sm-4">							 
								<div class="form-group">
									<input type="number" min="0" placeholder="startingPrice"  ng-model="startingPrice" class="form-control price"   value = "1"  >
								</div>
							</div>
						</div>
						<div class = "row">
							<div class="col-sm-2"> <label style="font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px">Listing Duration</label></div>
							<div class="col-sm-2"></div>
							<div class="col-sm-4">							 
								<div class="form-group">
									<input type="text"  class="form-control price"   value = "4"  readonly>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel sale_panel">	
					<div id="demo2" class="panel-collapse collapse">
						<div class="row">
							<div class="col-sm-2"> <label  style="font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px">Quantity</label></div>
							<div class="col-sm-2"></div>
							<div class="col-sm-4">
								<div class="form-group">
									<input type="number"  min="1" class="form-control quantity" placeholder="quantity"  ng-model="quantity"  value = "0"  >
								</div>
							</div>
						</div>	
						<div class="row">
							<div class="col-sm-2"> <label  style="font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px">Price</label></div>
							<div class="col-sm-2"></div>
							<div class="col-sm-4">
								<div class="form-group">
									<input type="number" min="0"  class="form-control price" placeholder="price"  ng-model="price"  value = "1"  >
								</div>
							</div>
						</div>	
					  </div>
				  </div>
				</div>
		</div></div>		
			
		</div></div></div></div>
	
	<div class="panel" style="border:1px solid #ddd" >
		<div class="panel-body">
		<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-9">
			<h2 style="font-size: large; font-weight: normal; font-family: Helvetica neue,Helvetica,Arial,Sans-serif; text-transform: none " > How will you ship it </h2><br>
			<br>
			<label style="font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px" >USPS First Class Package (2 to 6 business days) — Package (or thick envelope) — 13oz. — 7.0in. x 4.0in. x 4.0in.</label>
			<br>
			<label style="font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px" >Estimated shipping cost: $4.35 </label>

			<br><br>
			<div class="row">
				<div class="col-sm-8">	
					<div class="form-group">
						<input type="checkbox" placeholder="price"  ng-model="freeShip" name="freeShip" value="freeShip"> Offer free shipping<br>
					</div>
				</div>
			</div>		<br>
		</div></div></div></div>
		<div class="row">
			<div class="col-sm-9"></div>
			<div class="col-sm-3">
				<div >	
					<input type="submit" ng-click="addProduct();" name="addProduct" id="addProduct"  class="form-control btn btn-primary" value="List it">
				</div>
			</div>
		</div>		
	
	</div>
	

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; ebay_sjsu Website Fall16</p>
                </div>
            </div>
        </div>
    </footer>
<!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })


    
    </script>

</body>

</html>
