
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script	src="/js/angular.min.js"></script>
    <!-- Custom CSS -->
    <link href="/stylesheets/business-casual.css" rel="stylesheet">
	<script src="/angularjs/manageCart.js"></script>
</head>

<header>
    <!-- Navigation -->
    <%var user1 =  username %>
     <%username = user1 %>
    <% include header %>
</header>

<body ng-controller="cart" ng-app="cart">
	<% if( title != "") { %>
    <div class="brand"><%= title %></div>
<% } %>
	<div class = "row">
    <div class = "col-sm-1"></div>
    <div class = "col-sm-7">
    <h1  style="text-transform: none; font-size: 1.846em; font-weight: bold; font-family: Helvetica; ">Your eBay Shopping Cart</h1>
    </div>
    <div class = "col-sm-2"></div>
    </div>
    <div class = "row">
    <div class = "col-sm-1"></div>
    <div class = "col-sm-7">
   
    <div ng-if="total != 0">
		    <div class="panel " ng-repeat="item in products track by $index">
			<div class="panel-body">
			<div class="row">
			<div class="col-sm-3">
			<div class="panel " >
			<div class="panel-body">
			<a href="#" >
						     <img src="/img/{{item.brand}}.jpg" class="cartImage" alt="{{item.description}}">
						</a>
				</div>
			</div></div>	
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-6">
						<a href='#' ng-click='displayProduct(item.prod_id)'><label> <font style="font-weight: bold; font-size: medium;">{{item.brand}}: {{item.label}}</font></label></a>
						<br>
					</div>
					<div class="col-sm-1">
					</div>
					<div class="col-sm-2">
						<label> Quantity: {{item.quantity}}</label>
						<br>
					</div>
					<div class="col-sm-3">
						<label> Price: ${{item.price}}</label>
						<br>
					</div>
				</div><br><br>
				<div class="row">
					<div class="col-sm-6">
						<label> Condition: {{item.condition}}</label>
						<br>
					</div>
					<div class="col-sm-1">
					</div>
					<div class="col-sm-3">
						<label> Delivery charge:</label>
						<br>
					</div>
					<div class="col-sm-1">
						<label>  ${{item.deliveryPrice}}</label>
						<br>
					</div>
				</div><br>
				
			</div>
			</div>
			<div class="row">
					<div class="col-sm-10">
					</div>
					<div class="col-sm-1">
						<a class="action actionLink"  href="#" ng-click='removeFromCart(item._id,item.prod_id, item.quantity, item.price, item.deliveryPrice, total	)'>Remove</a>
					</div>
				</div></div>
		</div>	
		</div>
		<div ng-if="total == 0">
		Your cart is empty.</div>
	</div>
	<div class = "col-sm-3">
    <div class="panel " >
	<div class="panel-body">
	<div class="row">
	<div class="col-sm-12">
	<h1 style="font-weight: bold; font-size: 22px; font-family: Helvetica Neue;" align="center">Cart Summary</h1>
	
	<div aria-hidden="true" class="pt10"><hr class="solidLine"></div>
	<div id="syncTotal" class="flarge fw-b ">
	<font style="font-weight: bold; font-size: 22px; font-family: Helvetica Neue;" align="center">Total: ${{total}}</font></span></div>
	<br>
	<br>
	<div ng-if="total == 0">
	<p align="center"><input disabled="disabled" type="submit" class="btn btn-primary" ng-click="submit();"
						value="&nbsp;&nbsp;&nbsp;Proceed to Checkout&nbsp;&nbsp;&nbsp;&nbsp;" width="100%" /></p></div>
	<div ng-if="total != 0">
	<p align="center"><input type="submit" class="btn btn-primary" ng-click="checkout(total);"
						value="&nbsp;&nbsp;&nbsp;Proceed to Checkout&nbsp;&nbsp;&nbsp;&nbsp;" width="100%" /></p></div>
						
	</div></div></div></div></div>
	</div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; ebay_sjsu Website Fall16</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
