
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script	src="/js/angular.min.js"></script>
    <!-- Custom CSS -->
    <link href="/stylesheets/business-casual.css" rel="stylesheet">
	<script src="/angularjs/payment.js"></script>
</head>

<header>
    <!-- Navigation -->
    <%var user1 =  username %>
     <%username = user1 %>
    <% include header %>
</header>
<body ng-controller="paymentAdd" ng-app="paymentAdd" style="background-color: white; background-image: none;">
    <div class="box">
      
      <div class="container" style="padding: 20px">
      <div class="panel" style="border:1px solid #ddd" >
		<div class="panel-body">
		<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-9">
			<h2 style="font-size: large; font-weight: normal; font-family: Helvetica neue,Helvetica,Arial,Sans-serif; text-transform: none " > Enter shipping details</h2><br>
			<br>
			<div class="row">
				<div class="col-sm-2"> <label  style="font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px">Phone</label></div>
				<div class="col-sm-2"></div>
				<div class="col-sm-4">	
					<input type="number" name="phone" class="form-control" placeholder="Your phone number" ng-model="phone"  tabindex="1" autofocus>
				</div>
			</div><br><br>
			<div class="row">
				<div class="col-sm-2"> <label style="font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px">First Name</label></div>
				<div class="col-sm-2"></div>
				<div class="col-sm-4">	
					<input type="text" name="text" class="form-control" placeholder="Your First Name" ng-model="f_name" maxlength="20"  tabindex="1" autofocus>
				</div>
			</div><br><br>
			<div class="row">
				<div class="col-sm-2"> <label  style="font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px">Last Name</label></div>
				<div class="col-sm-2"></div>
				<div class="col-sm-4">	
					<input type="text" name="text" class="form-control" placeholder="Your Last Name" ng-model="l_name" maxlength="20"  tabindex="1" autofocus>
				</div>
			</div><br><br>
			<div class="row">
				<div class="col-sm-2"> <label style="font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px">Address</label></div>
				<div class="col-sm-2"></div>
				<div class="col-sm-4">	
					<textarea maxlength="100" class="form-control" placeholder="Your Address" ng-model="address" maxlength="20"  tabindex="1" autofocus></textarea>
				</div>
			</div><br><br>
			<div class="row">
				<div class="col-sm-2"> <label  style="font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px">City</label></div>
				<div class="col-sm-2"></div>
				<div class="col-sm-4">	
					<input type="text" name="text" class="form-control" placeholder="Your City" ng-model="city" maxlength="20"  tabindex="1" autofocus>
				</div>
			</div><br><br>
			<div class="row">
				<div class="col-sm-2"> <label  style="font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px">Country</label></div>
				<div class="col-sm-2"></div>
				<div class="col-sm-4">	
					<input type="text" name="text" class="form-control" placeholder="Your Country" ng-model="country" maxlength="20"  tabindex="1" autofocus>
				</div>
			</div><br><br>
		</div></div></div></div>
      
      </div>
      
            <div class="box-footer">
                <div align="center">
                    <input type="submit" class="btn btn-primary" ng-click="submitNow();" name="submitNow" id="submitNow"  class="form-control btn btn-primary" value="Make Payment">
                    </button>
                </div>
            </div>
    </div>
</body>
</html>
