<nav class="navbar navbar-default" role="navigation">
        
        <div id="gh-top" class="gh-hide-if-nocss">
        <ul id="gh-topl">
        <li class="gh-t gh-spr" id="gh-eb-u">
        <span aria-expanded="false" id="gh-ug" class="gh-ug-guest"> 
        <% if(username == "" || username == null) { %> <a href="/signIn" >Sign in</a>&nbsp;<span id="gh-ug-flex"></span></span>
        <% } else { %> Hi! <%= username %> &nbsp; <a href="/signOut" >Sign out</a>&nbsp; <% }%></li>
        <li class="gh-t gh-spr " id="gh-p-1"><a href="#" _sp="m570.l3188" class="gh-p">Daily Deals</a></li>
        
        <li class="gh-t gh-spr " id="gh-p-2"><a href="/loggedIn" _sp="m570.l1528" class="gh-p">Buy</a></li>
        <li class="gh-t gh-spr " id="gh-p-2"><a href="/sell" _sp="m570.l1528" class="gh-p">Sell</a></li>
        <li class="gh-t gh-spr " id="gh-p-3"><a href="#" >Help &amp; Contact</a></li>
        </ul><ul id="gh-eb"><li id="gh-eb-My" class="gh-eb-li gh-dd rt" data-imp="10"><div class="gh-menu"><a href="/profile" _sp="m570.l2919" class="gh-eb-li-a">My eBay</a><div style="display: none;" class="gh-submenu gh-eb-o" id="gh-eb-My-o"><ul role="navigation"><li><a href="http://www.ebay.com/myb/Summary" _sp="m570.l1533" class="gh-eb-oa thrd">Summary</a></li><li><a href="http://www.ebay.com/myb/BidsOffers" _sp="m570.l1535" class="gh-eb-oa thrd">Bids/Offers</a></li><li><a href="http://www.ebay.com/myb/WatchList" _sp="m570.l1534" class="gh-eb-oa thrd">Watch list</a></li><li><a href="http://my.ebay.com/ws/eBayISAPI.dll?MyEbayBeta&amp;CurrentPage=MyeBayNextListIndex&amp;wl=1" _sp="m570.l3067" class="gh-eb-oa thrd">Wish list</a></li><li><a href="http://my.ebay.com/ws/eBayISAPI.dll?MyEbayBeta&amp;CurrentPage=MyeBayNextListIndex&amp;tagId=-100&amp;ssPageName=STRK:ME:LNLK:MESINDXX" _sp="m570.l2618" class="gh-eb-oa thrd">All lists</a></li><li><a href="http://www.ebay.com/myb/PurchaseHistory" _sp="m570.l1536" class="gh-eb-oa thrd">Purchase history</a></li><li><a href="http://my.ebay.com/ws/eBayISAPI.dll?MyEbay&amp;gbh=1&amp;CurrentPage=MyeBayAllSelling&amp;ssPageName=STRK:ME:LNLK:MESX" _sp="m570.l1537" class="gh-eb-oa thrd">Selling</a></li><li><a href="http://www.ebay.com/cln/_mycollections" _sp="m570.l4780" class="gh-eb-oa thrd">My Collections</a></li><li><a href="http://my.ebay.com/ws/eBayISAPI.dll?MyEbay&amp;gbh=1&amp;CurrentPage=MyeBayAllFavorites" _sp="m570.l1538" class="gh-eb-oa thrd">Followed searches</a></li><li><a href="http://mesg.ebay.com/mesgweb/ViewMessages/0" _sp="m570.l1539" class="gh-eb-oa thrd">Messages</a></li><li id="gh-eb-sub-li-cpn"></li></ul></div></div></li><li id="gh-eb-Alerts" class="gh-eb-li gh-layer rt"><div class="gh-menu"><button class="gh-control ghn-b gh-eb-li-a" aria-expanded="false" aria-controls="gh-eb-Alerts-o"></button><div class="gh-sublayer"></div></div></li><li id="gh-cart" class="gh-eb-li rt">
        <a alt="Your shopping cart is empty" href="/cart"  title="Your cart" class="gh-eb-li-a"><i id="gh-cart-i" class="gh-sprRetina"></i></a></li></ul></div>
        
        <!-- /.container -->
    </nav>